:root {
    --nba-primary: #1d428a;
    --nba-secondary: #c8102e;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.game-list{
    width: 100%;
    box-sizing: border-box;
    margin:0;
    text-align: center;
}

.game-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 0 0 10px 0;
    border: 1px solid black;
    border-radius: 10px;;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
.game-card > .team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: var(--nba-primary);
    overflow: hidden;
    display: flex;
    justify-content: space-around;
  }

  .topnav img {
    height: 30px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin:auto;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: var(--nba-secondary);
    color: white;
  }

  .date-scrollbar {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    background-color: var(--nba-primary);
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--nba-secondary);
}

.date-scrollbar a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: var(--nba-secondary);
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}
.date-scrollbar a:hover {
    background-color: #ddd;
    color: black;
}

.date-scrollbar a.active {
    background-color: #ddd;
    color: black;
    border: 2px solid var(--nba-secondary);
}

.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.team-list .team-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    font-size: 50%;
}
.team-list .team-card img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.select-team {
    text-align: center;
}

/* Team-specific navbar */
.team-navbar nav {
    background-color: var(--nba-primary);
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid var(--nba-secondary);
    display: flex;
    justify-content: space-around;
}

.team-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
}

.team-navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.team-navbar ul li a:hover {
    background-color: var(--nba-secondary);
    color: white;
}

.player-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.player-list .player-card {
    display: flex;
    align-items: center;
    width: 30%;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    font-size: 50%;
}
.player-list .player-card img {
    height: 60%;
    margin: auto;
}
.player-list .player-card .player-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
}
.player-list .player-card .player-info h2 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
}
.player-list .player-card .player-info p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #555;
}
.team-title {
    text-align: center;
    font-size: 2em;
    margin:0;
    font-weight: bold;
    color: var(--nba-secondary);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: var(--nba-primary);
}
#myNBAdropdown {
    display: none;
    position:absolute;
    top: 54px;
    right: 0;
    background-color: var(--nba-primary);
    border: 5px solid var(--nba-secondary);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    z-index: 1;
    color:white;
    height: 100px;
    width: 30%;
    text-align: center;
}
