{% extends "template.html" %}
{% block title %}Favourites Games{% endblock %}
{% block content %}

<!-- This is the navbar for the favorites games page, it shows the user's favorite teams and allows them to navigate to their games. -->
<section class="team-navbar">
    <h1 class="team-title">My NBA Favorites</h1>
    <a href="/myNBA/manage-account">Manage Account</a>
    <div class="team-list">
        {% for team in favorite_teams %}
            
        <div class="team-card">
            <a href="/teams/{{ team['id'] }}">
                <img src="/static/img/team_logos/{{ team['abbreviation'] }}.svg" alt="{{ team['full_name'] }} logo" width="40" height="40">
                <h2>{{ team['full_name'] }}</h2>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<!-- List of all games played this season by favorite teams most-recent first -->
<section>
    <div class="game-list">
        <h2>Favourites Games 2024-25</h2>
    
        <!-- Upcoming Games Section -->
        <details open>
            <summary><h3>Upcoming Games</h3></summary>
            {% if upcoming_games|length == 0 %}
                <p>No upcoming games</p>
            {% endif %}
            {% for game in upcoming_games %}
            <a href="/games/{{ game['date'] }}"><p class="game-date">{{ game['date'] }}</p></a>
            {% if game['postseason'] %}
            <img class="playoffs" src="/static/img/team_logos/Playoffs.jpeg" alt="Playoffs logo">
            {% endif %}
                <div class="game-card">
                    <div class="team">
                        <img src="/static/img/team_logos/{{ game['home_team']['abbreviation'] }}.svg" alt="{{ game['home_team']['full_name'] }} logo" width="40" height="40">
                        <a href="/teams/{{ game['home_team']['id'] }}"><p>{{ game['home_team']['full_name'] }}</p></a>
                        <p>{{ game['home_team_score'] | int }}</p>
                    </div>
                    <div class="team">
                        <img src="/static/img/team_logos/{{ game['visitor_team']['abbreviation'] }}.svg" alt="{{ game['visitor_team']['full_name'] }} logo" width="40" height="40">
                        <a href="/teams/{{ game['visitor_team']['id'] }}"><p>{{ game['visitor_team']['full_name'] }}</p></a>
                        <p>{{ game['visitor_team_score'] | int }}</p>
                    </div>
                </div>
            {% endfor %}
        </details>
    
        <!-- Played Games Section -->
        <details>
            <summary><h3>Played Games</h3></summary>
            {% if played_games|length == 0 %}
                <p>No played games</p>
            {% endif %}
            {% for game in played_games %}
            <a href="/games/{{ game['date'] }}"><p class="game-date">{{ game['date'] }}</p></a>
                <div class="game-card">
                    <div class="team">
                        <img src="/static/img/team_logos/{{ game['home_team']['abbreviation'] }}.svg" alt="{{ game['home_team']['full_name'] }} logo" width="40" height="40">
                        <a href="/teams/{{ game['home_team']['id'] }}"><p>{{ game['home_team']['full_name'] }}</p></a>
                        <p>{{ game['home_team_score'] | int }}</p>
                    </div>
                    <div class="team">
                        <img src="/static/img/team_logos/{{ game['visitor_team']['abbreviation'] }}.svg" alt="{{ game['visitor_team']['full_name'] }} logo" width="40" height="40">
                        <a href="/teams/{{ game['visitor_team']['id'] }}"><p>{{ game['visitor_team']['full_name'] }}</p></a>
                        <p>{{ game['visitor_team_score'] | int }}</p>
                    </div>
                </div>
            {% endfor %}
        </details>
    </div>
</section>
{% endblock %}