{% extends "template.html" %}

{% block title %}NBA Games{% endblock %}

{% block content %}
<section>
    <div class="date-scrollbar">
        {% for date in dates %}
            <a href="/games/{{ date }}" class="{% if date == current_date %}active{% endif %}">
                {{ date }}
            </a>
        {% endfor %}
    </div>
    <div class="game-list">
        <h2>Games on {{ current_date }}</h2>
        {% if games|length == 0 %}
            <p>No games scheduled for today.</p>
        {% endif %}
        {% for game in games %}
            <div class="game-card">
                <div class="team">
                    <img src="/static/img/team_logos/{{ game['home_team']['abbreviation'] }}.svg" alt="{{ game['home_team']['full_name'] }} logo" width="40" height="40">
                    <a href="/teams/{{ game['home_team']['id'] }}"><p>{{ game['home_team']['full_name'] }}</p></a>
                    <p>{{ game['home_team_score']}}</p>
                </div>
                <div class="team">
                    <img src="/static/img/team_logos/{{ game['visitor_team']['abbreviation'] }}.svg" alt="{{ game['visitor_team']['full_name'] }} logo" width="40" height="40">
                    <a href="/teams/{{ game['visitor_team']['id'] }}"><p>{{ game['visitor_team']['full_name'] }}</p></a>
                    <p>{{ game['visitor_team_score']}}</p>
                </div>
            </div>
        {% endfor %}
    </ul>
</section>
{% endblock %}