{% extends "template.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<section class="register-section">
    <img src="/static/img/team_logos/NBA.svg" alt="NBA Logo" class="logo">
    <h1>Welcome to the NBA Stats Site</h1>
    <h2>Create New Account</h2>
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Register</button>
    </form>
</section>
{% endblock %}