{% extends "template.html" %}

{% block title %}{{ team['full_name'] }} Players{% endblock %}

{% block content %}
<section class="team-navbar">
    <nav>
        <ul>
            <li><a href="/teams/{{ team['id'] }}">Details</a></li>
            <li><a href="/teams/{{ team['id'] }}/games">Games</a></li>
            <li><a href="/teams/{{ team['id'] }}/players">Players</a></li>
        </ul>
    </nav>
</section>
<section class="team-content">

    <div class="player-list">
        {% for player in players %}
            <div class="player-card">
                <img src="{{ player['image_url'] }}" width="104" height="76">
                <h2>{{ player['first_name'] }} {{ player['last_name'] }}  {{ player['position'] }} {% if player['jersey_number'] %}#{{ player['jersey_number'] }} {% endif %}</h2>
                <p>{% if player['height'] %}{{ player['height'] }}, {% endif %}  {% if player['weight'] %}{{ player['weight'] }} lbs{% endif %}</p>
                {% if player['college'] %}<p>College : {{ player['college'] }}</p>{% endif %}
                {% if player['country'] %}<p>Nationality: {{ player['country'] }}</p>{% endif %}
                {% if player['draft_round'] %}
                <p>Draft: R {{ player['draft_round'] | int }} P {{ player['draft_number'] | int }} ({{ player['draft_year'] | int }})</p>
                {% else %}
                <p>Draft: Undrafted</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>

</section>
{% endblock %}