<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PAGE TITLE HERE{% endblock %}
    </title>
    <link rel="stylesheet" href="/static/CSS/styles.css">
</head>
<body>
    <header>
        <div class="topnav">
            <a href="/home"><img src="/static/img/team_logos/NBA.svg" alt="NBA Logo" class="logo"></a>
            <a href="/teams">Teams</a>
            <a href="/redirectGames">Schedule</a>
            <a id="myNBAtoggle">MyNBA</a>
        </div>
        <!--This is the dropdown menu for myNBA,
        this is where the user can either sign in (if not signed in),
        or manage their account (if signed in)-->
        <div id="myNBAdropdown">
            {% if current_user %}
            <h3>Welcome back {{current_user}}</h3>
            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
                <a href="/myNBA/favorites">Manage Account</a>
                <a href="/myNBA/favorites_games">Favorites</a>
            </form>
            {% else %}
            <h3>Sign in</h3>
            <form action="/login" method="POST">
                <input type="text" placeholder="Username" name="username" required>
                <input type="password" placeholder="Password" name="password" required>
                <button type="submit">Sign In</button>
                <p>Don't have an account? <a href="/register" class="register_link">Register</a></p>
            </form>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 NBA Stats Site. All rights reserved.</p>
    </footer>
    <script src="/static/JS/home.js"></script>
</body>