<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PAGE TITLE HERE{% endblock %}
    </title>
    <link rel="stylesheet" href="/static/CSS/styles.css">
</head>
<body>
    <header>
        <div class="topnav">
            <a href="/home"><img src="/static/img/team_logos/NBA.svg" alt="NBA Logo" class="logo"></a>
            <a href="#teams">Teams</a>
            <a href="#players">Players</a>
            <a href="/redirectGames">Games</a>
        </div>
    </header>
    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 NBA Stats Site. All rights reserved.</p>
    </footer>
</body>